@page
@model SnackisUppgift.Pages.Admin.SubjectAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        html, * {
            color: aqua;
        }
        body {
            background-image: url('/Backgroundimages/Chattbild.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: aqua; 
        }

        .blurry-background::before {
            content: "";
            display: block;
            position: fixed;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: inherit;
            filter: blur(5px);
            transform: scale(1.1);
        }
    </style>
</head>
<body class="blurry-background">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject[0].Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Subject)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
