@page
@model SnackisUppgift.Pages.Admin.PostAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
@*        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Likes)
        </dd>*@
@*        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Comments)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Description)
        </dd>
@*        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Subject.Id)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Reports)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Reports)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostReport.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostReport.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostReport.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostReport.Reason)
        </dd>
    </dl>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
